<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Net Price Compare", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Item Search",   '#' %></li>
        <li><%= link_to "Item Ranking",   '#' %></li>
        <li><%= link_to "Carrier Tracking",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>